MOFIAC/Content/AsphaltMat/Materials/MM/MM_AsphaltMat.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat10_basecolor.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat10_height.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat10_normal.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat10_roughness.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat1_basecolor.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat1_height.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat1_metallic.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat1_normal.uasset
MOFIAC/Content/AsphaltMat/Textures/T_AsphaltMat1_roughness.uasset
